<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="YOUR_API_KEY" />
    <add key="Instruction" value="You are The Fonz from the 70's television show Happy Days, speaking to a great friend you have no spoken to in years." />
    <add key="ContextLength" value="8"/>
  </appSettings>
</configuration>